<section class="ae-container-fluid rk-main">
    <!-- <input type="radio" name="layout-ctrl" checked id="layout-base" class="layout-ctrl-input">
    <div class="ae-container-fluid rk-layout-ctrl-cont">
      <label for="layout-base" class="rk-layout-ctrl">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-view-default"></use>
        </svg>
      </label>
    </div>
    <input type="radio" name="layout-ctrl" id="layout-grid" class="layout-ctrl-input">
    <div class="ae-container-fluid rk-layout-ctrl-cont">
      <label for="layout-grid" class="rk-layout-ctrl">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-view-alt"></use>
        </svg>
      </label>
    </div>
    <div class="rk-layout-ctrl-mobile">
      <svg viewBox="0 0 9 9" class="layout-mob-1">
        <rect width="100%" height="100%" fill="currentColor"></rect>
      </svg>
      <svg viewBox="0 0 9 9" class="layout-mob-2">
        <rect width="100%" height="100%" fill="currentColor"></rect>
      </svg>
      <svg viewBox="0 0 9 9" class="layout-mob-3">
        <rect width="100%" height="100%" fill="currentColor"></rect>
      </svg>
      <svg viewBox="0 0 9 9" class="layout-mob-4">
        <rect width="100%" height="100%" fill="currentColor"></rect>
      </svg>
    </div> -->
    
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
      <div class="rk-portfolio__items">

       
        <a style="background-image: url('../assets/img/technologies/JavaScript.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-language-javascript"></i>
                    JavaScript
                </h2>
                <p>Language</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/TypeScript.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-language-typescript"></i>
                    TypeScript
                </h2>
                <p>Language</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/angular.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-angular"></i>
                    Angular
                </h2>
                <p>Framework</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/ionic.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class=""></i>
                    Ionic
                </h2>
                <p>Framework</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/react-native.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class=""></i>
                    React Native
                </h2>
                <p>Framework</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/node.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-nodejs"></i>
                    Node.JS
                </h2>
                <p>Runtime Environments</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/php.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-language-php"></i>
                   PHP
                </h2>
                <p>Language</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/html.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-language-html5"></i>
                    HTML
                </h2>
                <p>Language</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/css.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-language-css3"></i>
                    CSS
                </h2>
                <p>Language</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/bootstrap.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-bootstrap"></i>
                    Bootstrap
                </h2>
                <p>Framework</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/jquery.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-jquery"></i>
                    JQuery
                </h2>
                <p>Library</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/python.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-language-python"></i>
                    Python
                </h2>
                <p>Language</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/django.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-language-python"></i>
                    Django
                </h2>
                <p>Framework</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/flask.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-language-python"></i>
                    Flask
                </h2>
                <p>Framework</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/foxpro.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class=""></i>
                    Visual Fox Pro
                </h2>
                <p>Language</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/sqlserver.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-microsoft"></i>
                    Microsoft SQL Server
                </h2>
                <p>Database Managment</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/mysql.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class=""></i>
                    MySql
                </h2>
                <p>Database Managment</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/postgreSql.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class=""></i>
                    PostgreSQL
                </h2>
                <p>Database Managment</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/sqlite.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class=""></i>
                    SQLite
                </h2>
                <p>Database Managment</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/mongodb.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class=""></i>
                    MongoDB
                </h2>
                <p>NoSQL Database</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/git.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-git"></i>
                    Git
                </h2>
                <p>Version Control System</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/wamp.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class=""></i>
                    WAMP Server
                </h2>
                <p>Stack</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/xampp.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class=""></i>
                    XAMPP Server
                </h2>
                <p>Stack</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/firebase.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class=""></i>
                    Firebase
                </h2>
                <p>Platform</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/google-cloud.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class=""></i>
                    Google Cloud
                </h2>
                <p>Platform</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/aws.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class=""></i>
                   Amazon Web Service
                </h2>
                <p>Platform</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/powerbi.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-microsoft"></i>
                    Microsoft Power BI
                </h2>
                <p>Business Analysis Service</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/onedrive.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-microsoft-onedrive"></i>
                    Microsoft OneDrive
                </h2>
                <p>Platform Cloud</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/sharepoint.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-microsoft-sharepoint"></i>
                    Microsoft SharePoint
                </h2>
                <p>Document Management</p>
            </div>               
        </a>

        <a style="background-image: url('../assets/img/technologies/windowserver.jpg');" class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>
                    <i class="mdi mdi-microsoft-windows"></i>
                    Microsoft Windows Server
                </h2>
                <p>Operating System</p>
            </div>               
        </a>



        
      </div>
    </section>
  </section>

  