<section class="ae-container-fluid ae-container-fluid--inner rk-main">
  <!-- <header class="rk-portfolio-cover  item-inside-1" style="background-image: url('../assets/img/experience.jpg');">
        <div class="item-inside__meta">
            <h1 class="ae-u-bolder rk-portfolio-title ">Experiencia Laboral</h1>
        </div>
    </header>  -->
  <br />
  <div
    class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left"
  >
    <h2 class="rk-portfolio-inner-title">Experiencia Laboral</h2>
  </div>

  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b>IZERTIS - Desarrollador de front-end</b>
      <br />
      Septiembre 2022 / Actualidad - Palencia, Castilla y León, España
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b> Desarrollo web y aplicaciones móviles.
      Desarrollo Front-End usando Angular, Ionic, TypeScript, JavaScript,
      Bootstrap, Css, HTML5, Firebase.
    </p>
  </div>
  <hr />
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b>Profesional Independiente - Desarrollador full stack</b>
      <br />
      Diciembre 2021 / Septiembre 2022 - Palencia, Castilla y León, España
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b> Análisis y diseño de sistemas, desarrollo web,
      desarrollo de aplicaciones móviles y desarrollo de microservicios, API
      Rest. Análisis y diseño de base de datos. Desarrollo Front-End usando
      Angular, Ionic, React Native, TypeScript, JavaScript, Bootstrap, JQuery,
      Css, HTML5. Desarrollo Back-End con NodeJS, ExpressJS, Python, Flask.
      Bases de Datos: SQL Server 2008/2012/2016, MySQL, PostgreSQL, MongoDB.
    </p>
  </div>
  <hr />
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b>Stefanini LATAM - Desarrollador de front-end</b>
      <br />
      Septiembre 2021 / Diciembre 2021 - Lima, Peru
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b> Desarrollo web y aplicaciones móviles.
      Desarrollo Front-End usando Angular, Ionic, AngularJS, TypeScript,
      JavaScript, Bootstrap, JQuery, Css, HTML5.
    </p>
  </div>
  <hr />
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b>MDP CONSULTING S.A.C - Desarrollador Full Stack</b>
      <br />
      Junio 2021 / Octubre 2021 - Lima, Peru
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b> Desarrollo web y aplicaciones móviles.
      Desarrollo Front-End usando Angular, React Native, TypeScript, JavaScript,
      Bootstrap, Css, HTML5. Bases de datos: SQL Server 2016.
    </p>
  </div>
  <hr />
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b>SUPERVAN S.A.C. - Desarrollador Full Stack</b>
      <br />
      Mayo 2020 / Mayo 2021 - Lima, Peru
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b> Análisis y diseño de sistemas, desarrollo web,
      desarrollo de aplicaciones móviles y de escritorio, desarrollo de
      microservicios. Análisis y diseño de base de datos. Desarrollo Front-End
      usando Angular, Ionic, TypeScript, JavaScript, Bootstrap, JQuery, Ajax,
      Css, HTML, Visual Fox Pro 9. Desarrollo Back-End con NodeJS, Express.js,
      PHP. Bases de datos: SQL Server 2008/2012, MySQL, MongoDB.
    </p>
  </div>
  <hr />
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b>Corporación Cyber Power S.A.C. - Desarrollador Full Stack</b>
      <br />
      Mayo 2018 / Mayo 2020 - Lima, Peru
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b> Análisis y diseño de sistemas, desarrollo web,
      desarrollo de aplicaciones móviles y de escritorio, desarrollo de
      microservicios. Análisis y diseño de base de datos. Desarrollo Front-End
      usando Angular, Ionic, TypeScript, JavaScript, Bootstrap, JQuery, Ajax,
      Css, HTML5, Visual Fox Pro 9. Desarrollo Back-End con NodeJS, ExpressJS,
      PHP. Bases de datos: SQL Server 2008/2012, MySQL, MongoDB.
    </p>
  </div>
  <hr />
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b>Bolivariana de Puertos, S.A - Desarrollador Full Stack</b>
      <br />
      Diciembre 2009 / Marzo 2018 - Puerto Cabello, Venezuela
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b> Análisis, diseño, desarrollo e implementación de
      sistemas, desarrollo web, desarrollo de aplicaciones de escritorio.
      Análisis y diseño de base datos. Documentación técnica de sistemas.
      Soporte técnico en todos los Niveles. Desarrollo Front-End usando
      JavaScript, Bootstrap, JQuery, Ajax, Css, HTML, Visual Fox Pro 9.
      Desarrollo Back-End con PHP. Bases de datos: SQL Server 2005/2008/2012,
      PostgreSQL, MySQL.
    </p>
  </div>
  <hr />
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b
        >Servicio Nacional Integrado de Administración Aduanera y Tributaria
        (SENIAT) - Practicante</b
      >
      <br />
      Enero / Abril 2009 - Puerto Cabello, Venezuela
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b> Apoyo a la unidad de informática, soporte
      técnico y administración de Active Directory, administración básica de
      redes. Desarrollo de software usando Visual Fox Pro 9. Base de Datos SQL
      Server 2005.
    </p>
  </div>

  <p class="au-flex au-pt-4 group-buttons">
    <a
      routerLink="/resume"
      class="au-mt-4 arrow-button arrow-button--right arrow-button--out"
      >Ver Resumen Curricular<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use></svg></span
    ></a>
  </p>
</section>
