<section class="ae-container-fluid ae-container-fluid--inner rk-main">
  <!-- <header class="rk-portfolio-cover  item-inside-1" style="background-image: url('../assets/img/experience.jpg');">
        <div class="item-inside__meta">
            <h1 class="ae-u-bolder rk-portfolio-title ">Experiencia Laboral</h1>
        </div>
    </header>  -->
  <br />
  <div
    class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left"
  >
    <h2 class="rk-portfolio-inner-title">Experiencia Laboral</h2>
  </div>

  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b>Senior Desarrollador de frontEnd en IZERTIS</b>
      <br />
      Septiembre 2022 / Marzo 2023 - Madrid, España
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b> Desarrollo web y aplicaciones móviles con
      Angular, Ionic, TypeScript, Firebase.
    </p>
  </div>
  <hr />
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b>Desarrollador Full Stack - Profesional Independiente</b>
      <br />
      Diciembre 2021 / Septiembre 2022 - Palencia, Castilla y León, España
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b> Desarrollo web y aplicaciones móviles,
      desarrollo de microservicios con Angular, Ionic, TypeScript, React Native,
      JavaScript, Bootstrap, Node.js, Express.js, NestJS. Bases de datos: SQL
      Server, PotsgreSQL, MySQL, MongoDB.
    </p>
  </div>
  <hr />
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b>Senior Desarrollador de frontEnd en Stefanini LATAM</b>
      <br />
      Septiembre 2021 / Diciembre 2021 - Lima, Perú
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b> Desarrollo web y aplicaciones móviles con
      AngularJS, Angular, Ionic, TypeScript, JavaScript.
    </p>
  </div>
  <hr />
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b>Senior Desarrollador de frontEnd en MDP CONSULTING S.A.C</b>
      <br />
      Junio 2021 / Octubre 2021 - Lima, Perú
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b> Desarrollo web y aplicaciones móviles con
      Angular, TypeScript, React Native, JavaScript, Bootstrap.
    </p>
  </div>
  <hr />
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b>Desarrollador Full Stack en SUPERVAN S.A.C.</b>
      <br />
      Mayo 2020 / Mayo 2021 - Lima, Perú
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b> Desarrollo web y aplicaciones móviles,
      desarrollo de microservicios con Angular, Ionic, TypeScript, JavaScript,
      Bootstrap, Node.js, Express.js. Bases de datos: SQL Server, MySQL,
      MongoDB.
    </p>
  </div>
  <hr />
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b>Desarrollador Full Stack en Corporación Cyber Power S.A.C.</b>
      <br />
      Mayo 2018 / Mayo 2020 - Lima, Peru
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b> Desarrollo web y aplicaciones móviles,
      desarrollo de aplicaciones de escritorio, desarrollo de microservicios
      usando Angular, Ionic, TypeScript, JavaScript, Bootstrap, Visual Fox Pro
      9, Node.js, Express.js, PHP. Bases de datos: SQL Server, MySQL, MongoDB.
    </p>
  </div>
  <hr />
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b>Desarrollador Full Stack en Bolivariana de Puertos, S.A</b>
      <br />
      Diciembre 2009 / Marzo 2018 - Puerto Cabello, Venezuela
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b>Desarrollo web y desarrollo de aplicaciones de
      escritorio con JavaScript, Bootstrap, JQuery, Ajax, Css, HTML, Visual Fox
      Pro 9, PHP. Bases de datos: SQL Server, PostgreSQL, MySQL.
    </p>
  </div>
  <hr />
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <p>
      <b
        >Practicante en Servicio Nacional Integrado de Administración Aduanera y
        Tributaria (SENIAT)</b
      >
      <br />
      Enero 2009 / Abril 2009 - Puerto Cabello, Venezuela
    </p>
    <p style="text-align: justify">
      <b>Tareas realizadas:</b> Apoyo a la unidad de informática, soporte
      técnico y administración de Active Directory, administración básica de
      redes.
    </p>
  </div>

  <p class="au-flex au-pt-4 group-buttons">
    <a
      routerLink="/resume"
      class="au-mt-4 arrow-button arrow-button--right arrow-button--out"
      >Ver Resumen Curricular<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use></svg></span
    ></a>
  </p>
</section>
