<!-- <section class="ae-container-fluid rk-main">
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
      <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/portafolio.jpg" alt="">
          <div class="item-meta">
            <h2>Portafolio</h2>
            <p>Proyectos y Desarrollos</p>
          </div>
        </a>

        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/technologies.jpg" alt="">
          <div class="item-meta">
            <h2>Tecnologias</h2>
            <p>Lenguajes, Frameworks y plataformas</p>
          </div>
        </a>

        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/bio.jpg" alt="">
          <div class="item-meta">
            <h2>Bio</h2>
            <p>Información del Perfil</p>
          </div>
        </a>

        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/education.jpg" alt="">
          <div class="item-meta">
            <h2>Educación</h2>
            <p>Estudios y cursos</p>
          </div>
        </a>

        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/experience.jpg" alt="">
          <div class="item-meta">
            <h2>Experiencia</h2>
            <p>Trabajos</p>
          </div>
        </a>

        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/resume.jpg" alt="">
          <div class="item-meta">
            <h2>Resumen</h2>
            <p>Curriculum</p>
          </div>
        </a>

        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/contact.jpg" alt="">
          <div class="item-meta">
            <h2>Contacto</h2>
            <p>Información para contactame</p>
          </div>
        </a>


        
      </div>
    </section>
  </section> -->

  <section class="ae-container-fluid rk-main">
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
      <div class="ae-grid">
        <div class="ae-grid__item item-lg--auto">
          <a routerLink="/portafolio" class="rk-item"><img src="assets/img/portafolio.jpg" alt="">
            <div class="item-meta">
              <h2>Portafolio</h2>
              <p>Proyectos y Desarrollos</p>
            </div>
          </a>
        </div>

        <div class="ae-grid__item item-lg--auto">
          <a routerLink="/technologies" class="rk-item"><img src="assets/img/technologies.jpg" alt="">
            <div class="item-meta">
              <h2>Tecnologias</h2>
              <p>Lenguajes, Frameworks y plataformas</p>
            </div>
          </a>
        </div>
      </div>

      <div class="ae-grid">      
        <div class="ae-grid__item item-lg--auto">
          <a routerLink="/bio" class="rk-item"><img src="assets/img/bio.jpg" alt="">
            <div class="item-meta">
              <h2>Bio</h2>
              <p>Información del Perfil</p>
            </div>
          </a>
        </div>

        <div class="ae-grid__item item-lg--auto">
          <a routerLink="/education" class="rk-item"><img src="assets/img/education.jpg" alt="">
            <div class="item-meta">
              <h2>Educación</h2>
              <p>Estudios y cursos</p>
            </div>
          </a>
        </div>
      </div>

     
      <div class="ae-grid">      
        <div class="ae-grid__item item-lg--auto">
          <a routerLink="/experience" class="rk-item"><img src="assets/img/experience.jpg" alt="">
            <div class="item-meta">
              <h2>Experiencia</h2>
              <p>Trabajos</p>
            </div>
          </a>
        </div>

        <div class="ae-grid__item item-lg--auto">
          <a routerLink="/resume" class="rk-item"><img src="assets/img/resume.jpg" alt="">
            <div class="item-meta">
              <h2>Resumen</h2>
              <p>Curriculum</p>
            </div>
          </a>
        </div>
      </div>

    

      <div class="ae-grid">
        <div class="ae-grid__item item-lg--auto">
          <a routerLink="/contact" class="rk-item"><img src="assets/img/contact.jpg" alt="">
            <div class="item-meta">
              <h2>Contacto</h2>
              <p>Información para contactame</p>
            </div>
          </a>
        </div>
      </div>
      
    </section>
  </section>