<div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <!-- <header class="rk-portfolio-cover  item-inside-1" style="background-image: url('../assets/img/experience.jpg');">
        <div class="item-inside__meta">
            <h1 class="ae-u-bolder rk-portfolio-title ">Experiencia Laboral</h1>
        </div>
    </header>  -->
    <br>
    <h2 class="rk-portfolio-inner-title ">Resumen Curricular</h2>
    <div class="ae-grid au-xs-ta-center au-mb-4">
        <div class="ae-grid__item item-lg-12 ae-kappa au-mb-3" style="overflow: auto; height: 500px" >
            <pdf-viewer class="viewPdf" [src]="pdfSrc" 
                                        [render-text]="false"
            ></pdf-viewer>  
        </div>  
        <div class="ae-grid__item item-lg-12 ae-kappa au-mb-3">
            <a class="ae-u-bolder au-underline pointer" (click)="viweResume()">Descargar</a>
        </div>
        
    </div>
</div>
